.cards-container {
  grid-template-areas:
    "c1 c1 c2 c2 t t"
    ". . c3 c3 t t";

  > .card {
    display: grid;
    align-content: space-between;
    margin: 1px 1px 0 0;
    background-color: $clr3;
    color: $clr2;
    aspect-ratio: 1/ 1;
    padding: 10%;

    &:nth-child(1) {
      grid-area: c1;
    }
    &:nth-child(2) {
      grid-area: c2;
    }
    &:nth-child(3) {
      grid-area: c3;
    }

    .card-image {
      aspect-ratio: 1 / 0.7;
      object-fit: contain;
    }
  }

  .teaser {
    grid-area: t;
  }
}
